.mt-64px {
  margin-top: 64px
}

a {
  text-decoration-line: none
}

.zoom:hover {
  transform: scale(1.05);
  z-index: 2;
}

@media (min-width: 1264px) and (max-width: 1903px) {
  .flex.lg5-custom {
      width: 20%;
      max-width: 20%;
      flex-basis: 20%;
  }
}