// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
@require 'color.styl'
@require 'container.styl'

body::-webkit-scrollbar
  width: 10px
  background-color: #f5f5f5

body::-webkit-scrollbar-thumb
  border-radius: 10px
  background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6)

.page
  @extend .fade-transition

.game-list-card
  .v-image
    &:hover
      @extend .g-green-neonLife-border-solid

.v-btn--active
  &:before
    background-color: transparent

.v-navigation-drawer__border
  display: none

.v-overlay
  &:before
    background-color: #f5f5f5

.v-overlay--active
  &:before
    opacity: 1