// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.g-blue-hydrogen
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6)

.g-green-neonLife-border-solid
  border: solid
  border-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb) 60 60

.game-list-card .v-card
  &:hover
    @extend .g-green-neonLife-border-solid