.g-blue-hydrogen
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important

.g-blue-hydrogen-text
  background-image: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  color: #0082c8

.g-purple-purplin
  background: linear-gradient(to right, #6a3093, #a044ff) !important

.g-green-neonLife-border-solid
  border: solid
  border-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb) 60 60 !important