@media (min-width: 1264px)
    .index-main-container
        width 1700px
        max-width 90%

@media (max-width: 960px)
    .page-main
        margin 20px 0 10px 0

@media (max-width: 600px)
    .page-main
        margin 10px 0 0 0

    .v-toolbar__content
        height 0 !important
