<nb-layout-header fixed>
  <div style="width: 100%" nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div>
      <nb-actions size="medium">
        <nb-action *ngFor="let item of header.leftItems">
          <a [routerLink]="item.href" routerLinkActive="route-active">{{ item.title }}</a>
        </nb-action>
      </nb-actions>
    </div>

    <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
      <nb-search type="rotate-layout" placeholder="搜索..." hint="暂不可用" class="header-search-botton"></nb-search>
      <nb-actions size="medium">
        <nb-action *ngFor="let item of header.rightItems" [icon]="item" disabled>
        </nb-action>
      </nb-actions>
    </div>
  </div>
</nb-layout-header>